* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    color: black;
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;
}

h1 {
    font-family: 'Noto Serif', serif;
    font-weight: 700;
    font-size: 40px;
}

p {
    font-weight: 400;
    font-size: 12px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover{
    color: grey;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    //display: flex;
}

.page-navigation {
}

// ----- nawigacja strony ---------
.page-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    font-weight: 500;
    font-size: 14px;
    //position: relative;
}

.page-logo {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px;
}

.page-nav-list {
    text-transform: uppercase;
    //position: absolute;
    margin: auto 0;
    padding: 15px;
    ul {
        //word-spacing: 1em;
        li {
            list-style: none;
            display: inline-block;
            a {
                text-decoration: none;
            }
        }   
    }
}

@media (max-width: 530px) {
    .page-nav-list ul {
        display: none;
    }
}

.hamburger {
    display: none;
    //position: absolute;
    top: 10px;
    left: 10px;
    font-size: 2rem;
    background-color: white;
    padding: 4px 18px;
    color: black;
    border-radius: 50%;
  }
  
  @media all and (max-width: 530px) {
    .hamburger {
      display: block;
    }
  }
  
  .page-nav-submenu {
        li:hover {
            background-color:grey;
            a {
                color:black;
            }
        }
  }

  .page-nav-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: white;
    font-size: 16px;
    height: 2em;
    line-height: 2em;
    text-align: center;
    li {
        float: left;
        background-color:white;
        width: 150px;
        margin-left: 1px;
        height: 2em;
        a {
            border-top:1px solid #FFF;
        }
        ul {
            display: none;
            list-style-type:none;
            padding:0;
            margin:0;
            li {
                position:relative;
                background-color: white;
                //height: 2em;
                a {
                    border-top:1px solid white;
                }
            }
        }
    }

    li:first-child {
        margin-left: 0;
    }
    li > a:hover {
        color:#09C;
      }
    li:hover {
        background-color:white;
        //display: block;
      }
    li:hover > a {
        color: grey;
      }
    li:hover > ul {
        display: block;
    }
    a {
        display:block;
        color:#000;
        text-decoration:none;
        padding:0 5px;
    }
  }

// -------- główny slider ------------

.main-banner {
    
}

.banner-slider {
    //position: absolute;
    
    height: 43em;
    width: 100%;
    padding: 25px;
    
    
    h1 {
        margin-top: 40%;
        font-size: 35px;
        color: white;
    }
    p {
        
        font-size: 18px;
        color: white;
    }
}

.banner-slider-first{
    background: linear-gradient(transparent, black), url("../img/banner/zimowa_fala.jpg") no-repeat; 
    background-size: cover;
    //background-image: url("../img/banner/zimowa_fala.jpg");
   // background-repeat: no-repeat;
    //background-size: cover;
    //background-color: #000;
    p {
        //display: none;
    }
}
/*
.banner-slider:hover {
    //transition: 1s;
    //opacity: 0.6;
    //background: linear-gradient(transparent, black), url("../img/banner/zimowa_fala.jpg") no-repeat; 
    //background-size: cover; 
    
    p, h1 {
        //opacity: 1;
        font-size: 30px;
        color: white;
        transition: 1s;
        display: block;
    }
} 
    */


.banner-slider-second {
    background: linear-gradient(transparent, black), url("../img/banner/barocco.jpg") no-repeat;
    background-size: cover;
    
}

.banner-slider-third {
    background: linear-gradient(transparent, black), url("../img/banner/fatamorgana.jpg") no-repeat;
    background-size: cover;
    
}

//------- główna treść ----------

.main-content {
    //position: relative;
}

// -------- SLIDER: newsy --------------

.main-slider-news {
    //position: absolute;
    padding: 25px;
    margin-top: 20px;
    height: 15em;
    width: 100%;
    border: 2px solid black;
    
}

.main-slider-news-text {
    font-size: 28px;
}
.main-slider-news-arrows {

}
.main-slider-news-photos{

}

// ---------- SLIDER: galeria --------------

.main-slider-gallery {
    //position: absolute;
    padding: 25px;
    margin-top: 20px;
    height: 15em;
    width: 100%;
    //border: 2px solid black;
}

.main-slider-gallery-text {
    font-size: 28px;
}
.main-slider-gallery-arrows {

}
.main-slider-gallery-photos { 
    
}

.page-footer {
    background-color: white;
    
}

.page-footer-el {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-footer-copyright {
    padding: 25px;
}

.page-footer-social-icons {
    list-style: none;
    li {
        display: inline-block;
    }
}

.contact-form  {
    padding: 25px;
    height: 450px;
    width: 50%;
    border: 3px solid black;
    text-align: center;
    line-height: 1.8em;
    //display: flex;
    label {
        font-size: 20px;
        margin: 10px;
        
        input {
        height: 50px;
        width: 65%;
        font-size: 18px;
        }
        textarea {
            height: 100px;
            width: 65%;
            font-size: 18px;
        }
    }
}

@media (max-width: 390px) {
    .contact-form {
        border: none;
    }
}

@media (max-width: 350px) {
    .banner-slider {
        p {
            font-size: 16px;
        }
        h1 {
            font-size: 20px;
        }
    }
}

.about_yerkaland, .paintings {
    padding: 25px;
}
//-----------gallery paintings --------------

.gallery {
    width: 640px;
    margin: 0 auto;
    padding: 5px;
    background: #fff;
    //box-shadow: 0 1px 2px rgba(0,0,0,.3);
  }
  
  .gallery > div {
    position: relative;
    float: left;
    padding: 5px;
  }
  
  .gallery > div > img {
    display: block;
    width: 200px;
    transition: .1s transform;
    transform: translateZ(0); /* hack */
  }
  
  .gallery > div:hover {
    z-index: 1;
  }
  
  .gallery > div:hover > img {
    transform: scale(1.7,1.7);
    transition: .3s transform;
  }
  
  .cf:before, .cf:after {
    display: table;
    content: "";
    line-height: 0;
  }
  
  .cf:after {
    clear: both;
  }
  
  
  .main-slider-gallery-photos {
    display: flex;
    
    flex-direction: row;
  .main-slider-gallery-photos-container{
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    height: 150px;
    white-space: nowrap;
    img {
        padding: 8px;
        width: 160px;
        height: 160px;   
    }
  }
}
  