* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    color: black;
    font-size: 16px;
    font-family: Verdana, Tahoma, sans-serif;
    //podłącz czcionkę
}

a {
    color: black;
}

a:hover{
    color: grey;
    
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    //display: flex;
}

.page-header {
}

// ----- nawigacja strony ---------
.page-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    //position: relative;
}

.page-logo {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px;
}

.page-nav-list {
    text-transform: uppercase;
    //position: absolute;
    margin: auto 0;
    padding: 15px;
    ul {
        //word-spacing: 1em;
        li {
            list-style: none;
            display: inline-block;
            a {
                text-decoration: none;
            }
        }   
    }
}
@media (max-width: 450px) {
    .page-nav-list ul {
        display: none;
    }
}

.hamburger {
    display: none;
    //position: absolute;
    top: 10px;
    left: 10px;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 4px 18px;
    color: #fff;
    border-radius: 4px;
  }
  
  @media all and (max-width: 450px) {
    .hamburger {
      display: block;
    }
  }
  .page-nav-submenu {
        li:hover {
            background-color:grey;
            a {
                color:black;
            }
        }
  }

  .page-nav-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: white;
    font-size: 16px;
    height: 2em;
    line-height: 2em;
    text-align: center;
    li {
        float: left;
        background-color:white;
        width: 150px;
        margin-left: 1px;
        height: 2em;
        a {
            border-top:1px solid #FFF;
        }
        ul {
            display: none;
            list-style-type:none;
            padding:0;
            margin:0;
            li {
                position:relative;
                background-color: white;
                //height: 2em;
                a {
                    border-top:1px solid white;
                }
            }
        }
    }

    li:first-child {
        margin-left: 0;
    }
    li > a:hover {
        color:#09C;
      }
    li:hover {
        background-color:white;
        //display: block;
      }
    li:hover > a {
        color: grey;
      }
    li:hover > ul {
        display: block;
    }
    a {
        display:block;
        color:#000;
        text-decoration:none;
        padding:0 5px;
    }
  }

// -------- główny slider ------------

.main-banner {
    
}

.banner-slider {
    //position: absolute;
    
    border: 3px solid black;
    height: 43em;
    width: 100%;
    padding: 25px;
    
    h1 {
        margin-top: 30%;
        font-size: 56px;
    }
    p {
        font-size: 28px;
    }
}

//------- główna treść ----------

.main-content {
    //position: relative;
}

// -------- SLIDER: newsy --------------

.main-slider-news {
    //position: absolute;
    padding: 25px;
    margin-top: 20px;
    height: 15em;
    width: 100%;
    border: 2px solid black;
    
}

.main-slider-news-text {
    font-size: 28px;
}
.main-slider-news-arrows {

}
.main-slider-news-photos{

}

// ---------- SLIDER: galeria --------------

.main-slider-gallery {
    //position: absolute;
    padding: 25px;
    margin-top: 20px;
    height: 15em;
    width: 100%;
    border: 2px solid black;
}

.main-slider-gallery-text {
    font-size: 28px;
}
.main-slider-gallery-arrows {

}
.main-slider-gallery-photos { 
    
}

.page-footer {
    background-color: lightblue;
    
}

.page-footer-el {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-footer-copyright {
    padding: 25px;
}

.page-footer-social-icons {
    list-style: none;
    li {
        display: inline-block;
    }
}

.contact-form  {
    padding: 25px;
    height: 450px;
    width: 50%;
    border: 3px solid black;
    text-align: center;
    line-height: 1.8em;
    //display: flex;
    label {
        font-size: 20px;
        margin: 10px;
        
        input {
        height: 50px;
        width: 65%;
        font-size: 18px;
        }
        textarea {
            height: 100px;
            width: 65%;
            font-size: 18px;
        }
    }
}

@media (max-width: 390px) {
    .contact-form {
        border: none;
    }
}

@media (max-width: 350px) {
    .banner-slider {
        p {
            display: none;
        }
    }
}