* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    color: black;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    //podłącz czcionkę
}

.container {
    width: 100%;
    margin: 0 auto;
}

.page-header {
}

// ----- nawigacja strony ---------
.page-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    //position: relative;
}

.page-logo {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px;
}

.page-nav-list {
    text-transform: uppercase;
    //position: absolute;
    margin: auto 0;
    padding: 15px;
    ul {
        word-spacing: 1em;
        li {
            list-style: none;
            display: inline-block;
        }   
    }
}

// -------- główny slider ------------

.main-banner {
    
}

.banner-slider {
    //position: absolute;
    background-color: burlywood;
    border: 3px solid blue;
    height: 43em;
    width: 100%;
    padding: 25px;
    
    h1 {
        margin-top: 30%;
        font-size: 56px;
    }
    p {
        font-size: 28px;
    }
}

//------- główna treść ----------

.main-content {
    //position: relative;
}

// -------- SLIDER: newsy --------------

.main-slider-news {
    //position: absolute;
    padding: 25px;
    height: 15em;
    width: 100%;
    background-color: gainsboro;

}

.main-slider-news-text {
    font-size: 28px;
}
.main-slider-news-arrows {

}
.main-slider-news-photos{

}

// ---------- SLIDER: galeria --------------

.main-slider-gallery {
    //position: absolute;
    padding: 25px;
    height: 15em;
    width: 100%;
    background-color: salmon;
}

.main-slider-gallery-text {
    font-size: 28px;
}
.main-slider-gallery-arrows {

}
.main-slider-gallery-photos { 
    
}

.page-footer {
    background-color: lightblue;
    
}

.page-footer-el {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-footer-copyright {
    padding: 25px;
}

.page-footer-social-icons {
    list-style: none;
    
  
    li {
        display: inline-block;

    }
}