* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    color: black;
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;
}

h1 {
    font-family: 'Noto Serif', serif;
    font-weight: 400;
    font-size: 40px;
    margin-left: 10px;
}

p {
    margin: 13px;
    font-weight: 400;
    font-size: 17px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover{
    color: grey;
}

.container {
    width: 100%;
    max-width: 1050px;
    margin: 0 auto;
    //display: flex;
}

.page-navigation {
}

// ----- nawigacja strony ---------
.page-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    font-weight: 400;
    font-size: 14px;
    position: relative;
    z-index: 9999;
}

.page-logo {
    font-size: 24px;
    font-weight: 400;
    font-family: 'Noto Serif', serif;
    //text-transform: uppercase;
    text-decoration: none;
    padding: 25px;
}

.page-nav-list {
    text-transform: uppercase;
    //position: absolute;
    margin: auto 0;
    padding: 15px;
    ul {
        //word-spacing: 1em;
        li {
            list-style: none;
            display: inline-block;
            a {
                text-decoration: none;
            }
        }   
    }
}

@media (max-width: 530px) {
    .page-nav-list ul {
        display: none;
    }
}

.hamburger {
    display: none;
    //position: absolute;
    top: 10px;
    left: 10px;
    font-size: 2rem;
    background-color: white;
    padding: 4px 18px;
    color: black;
    //border-radius: 50%;
  }
  
  @media all and (max-width: 530px) {
    .hamburger {
      display: block;
    }
  }
  
  .page-nav-submenu {
        li:hover {
            background-color:grey;
            a {
                color:black;
            }
        }
    }

  .page-nav-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: white;
    font-size: 16px;
    height: 2em;
    line-height: 2em;
    text-align: center;
    li {
        float: left;
        background-color:white;
        width: 150px;
        margin-left: 1px;
        height: 2em;
        a {
            border-top:1px solid #FFF;
        }
        ul {
            display: none;
            list-style-type:none;
            padding:0;
            margin:0;
            li {
                position:relative;
                background-color: white;
                //height: 2em;
                a {
                    border-top:1px solid white;
                }
            }
        }
    }

    li:first-child {
        margin-left: 0;
    }
    li > a:hover {
        color:#09C;
      }
    li:hover {
        background-color:white;
        //display: block;
      }
    li:hover > a {
        color: grey;
      }
    li:hover > ul {
        display: block;
    }
    a {
        display:block;
        color:#000;
        text-decoration:none;
        padding: 0 5px;
    }
}

.flags {
    button {
    border: 0px;
    margin: 5px;
    }
}
// -------- główny slider ------------

.main-banner {
    width:100%;
    max-width: 1200px;
    overflow: hidden;
    // padding-bottom: 53%;
    height: 600px;
    
    
.main-banner-banner {
    position: relative;
    transition: 1s;
    // display:flex;
    width:100%;

    
    .main-banner-slide {
        //border: 2px solid red;
        width: 100%;
        height: 600px;
        // padding-bottom: 52.6%;
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: 0px 40%;
        float: left;

        h1 {
            color: white;
            margin-top: 8.7em;
            font-size: 60px;
            // position: absolute;
            // top: 56%;
            // left: 50%;
            // font-size: 35px;
            }     
        }
    }
}

// .banner-slider {
//     //position: absolute;
//     height: 43em;
//     width: 100%;
//     max-width:1200px;
//     float: left;
//     //padding: 25px;
// }


//------- główna treść ----------

.main-content {
    //position: relative;
}

// -------- SLIDER: newsy --------------

.main-slider-news {
    //position: absolute;
    padding: 25px;
    margin-top: 35px;
    height: 25em;
    width: 100%;
    //border: 2px solid black; 
}

.main-slider-news-text {
    font-size: 28px;
}

.main-slider-news-arrows {
    text-align: right;
    display: none;
}
.main-slider-news-photos{}

.main-slider-news-photos-container {
    height: 25em;
    display: flex;
    
    .img-news {
        h3, h4 {
            text-align: center;
            margin: 0 auto;
            color: grey;
            //display: none;
            font-family: 'Noto Serif', serif;
        }
        p {
            font-size: 16px;
            text-align: center;
            margin: 0 auto;
            color: grey;
            font-family: 'Noto Serif', serif;
        }
        img{
            
            height: 300px;
            width: 100%;
            padding: 10px;
            z-index: 2;
            }
        img:hover {
            //filter: grayscale(100%);
            transition: 1s;
            transform: scale(1.2, 1.2);
            z-index: 9;
            filter: hue-rotate(12deg) brightness(1.2) contrast(1.2)
            }
        }
    }
    @media (max-width: 700px) {
        .main-slider-news-photos-container {
            //height: 25em;
            display: flex;
            flex-wrap: wrap;
            .img-news-second {
                display: none;
            }
        }   
        //flex-wrap: wrap;
    }

/*
.main-slider-news-photos {
    display: flex;
    flex-direction: row;

  .main-slider-news-photos-container {
    //overflow-x: scroll;
    //overflow-y: hidden;
    width: 100%;
    height: 17em;
    white-space: nowrap;
    h4 {
        color: orangered;
        margin: -40px 20px;;
    }
    
    img {
        padding: 10px;
        width: 375px;
        height: 200px;
        img:hover {
            filter: brightness(0.5);
            transition: 1s;
            h4 {
                color: lime;
                display: block;
            }
            
        }
    }
    /*
    .img-news {
        height: 200px;
        width: 375px;
        padding: 10px;
        h4{
            color: orangered;
            margin: -33% 35%;
            //display: none;
        }
    }   
  }
}
*/

// ---------- SLIDER: galeria --------------

.main-slider-gallery {
    //position: absolute;
    padding: 25px;
    margin-top: 90px;
    height: 25em;
    width: 100%;
    //border: 2px solid black;
}

.main-slider-gallery-text {
    font-size: 28px;
}
.main-slider-gallery-arrows {}
.main-slider-gallery-photos {}

.main-slider-gallery-photos {
    display: flex;
    flex-direction: row;

  .main-slider-gallery-photos-container {
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    height: 16em;
    white-space: nowrap;
    img {
        padding: 10px;
        width: 200px;
        height: 200px;
    }
    img:hover {
        filter: brightness(0.5);
        transition: 1s;
    }
    p {
        color: white;
    }
  }
}

//-------------footer ----------------

.page-footer {
    background-color: white;
}

.page-footer-el {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-footer-copyright {
    padding: 25px;
}

.page-footer-social-icons {
    list-style: none;
    li {
        display: inline-block;
    }
}

.contact-form  {
    padding: 25px;
    height: 450px;
    width: 50%;
    margin: 0 auto;
    //border: 3px solid black;
    text-align: center;
    line-height: 1.8em;
    //display: flex;
    p {
        text-align: left;
    }
    label {
        font-size: 20px;
        margin: 10px;
        input {
        height: 50px;
        width: 65%;
        font-size: 18px;
        }
        textarea {
            height: 100px;
            width: 65%;
            font-size: 18px;
        }
    }
}

.contact-submit {
    width: 100px;
    height: 20px;
    font-size: 16px;
}

@media (max-width: 390px) {
    .contact-form {
        border: none;
    }
}

@media (max-width: 350px) {
    .banner-slider {
        p {
            font-size: 16px;
        }
        h1 {
            font-size: 20px;
        }
    }
}

.about_yerkaland, .about_yerka, .paintings, .pastels, .contact-page  {
    padding: 25px;
}

.about_yerkaland {
    display: flex;
    width: 100%;
    
    .about-yerkaland-photo-left {
        padding: 25px;
        width: 23rem;
        height: 17em;
        float: left;
        margin-top: -21px;
        margin-left: -20px;
        
    }

    .about-yerkaland-photo-right {
        padding: 25px;
        width: 20em;
        height: 17em;
        float: right;
        margin: 2px;
        margin-top: -21px;
        margin-left: -20px;
    }

    .about-yerkaland-photo-last {
        padding: 25px;
        width: 20em;
        height: 17em;
        float: left;
        margin: 2px;
        margin-top: -21px;
        margin-left: -5px;
    }
}
//-----------gallery paintings --------------
/*
.gallery {
    width: 640px;
    //width: 90%;
    margin: 0 auto;
    padding: 5px;
    background: #fff;
    //box-shadow: 0 1px 2px rgba(0,0,0,.3);
  }
  
  .gallery > div {
    //display:flex;
    position: relative;
    float: left;
    padding: 5px;
  }
  
  .gallery > div > img {
    //display: flex;
    //flex-wrap: wrap-reverse;  
    display: block;
    width: 200px;
    transition: .1s transform;
    transform: translateZ(0); /* hack */
/*
  }
  
  .gallery > div:hover {
    z-index: 1;
  }
  
  .gallery > div:hover > img {
    transform: scale(1.7,1.7);
    transition: .3s transform;
  }
  
  .cf:before, .cf:after {
    display: table;
    content: "";
    line-height: 0;
  }
  
  .cf:after {
    clear: both;
  }
  */
  //---- pastels gallery


.pastels-gallery {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    

      img {
          //width: 300px;
          height: 200px;
          //display: flex;
          padding: 5px;
      }
  }
  .pastels-gallery > div:hover {
    z-index: 1;
  }

  .pastels-gallery > div:hover > img {
    transform: scale(2.1,2.1);
    transition: 1s transform;
  }