* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: white;
  color: black;
  font-size: 14px;
  font-family: 'Work Sans', sans-serif; }

h1 {
  font-family: 'Noto Serif', serif;
  font-weight: 400;
  font-size: 40px;
  margin-left: 10px; }

p {
  margin: 13px;
  font-weight: 400;
  font-size: 17px; }

a {
  color: black;
  text-decoration: none; }

a:hover {
  color: grey; }

.container {
  width: 100%;
  max-width: 1050px;
  margin: 0 auto; }

.page-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  font-weight: 400;
  font-size: 14px;
  position: relative;
  z-index: 9999; }

.page-logo {
  font-size: 24px;
  font-weight: 400;
  font-family: 'Noto Serif', serif;
  text-decoration: none;
  padding: 25px; }

.page-nav-list {
  text-transform: uppercase;
  margin: auto 0;
  padding: 15px; }
  .page-nav-list ul li {
    list-style: none;
    display: inline-block; }
    .page-nav-list ul li a {
      text-decoration: none; }

@media (max-width: 530px) {
  .page-nav-list ul {
    display: none; } }

.hamburger {
  display: none;
  top: 10px;
  left: 10px;
  font-size: 2rem;
  background-color: white;
  padding: 4px 18px;
  color: black; }

@media all and (max-width: 530px) {
  .hamburger {
    display: block; } }

.page-nav-submenu li:hover {
  background-color: grey; }
  .page-nav-submenu li:hover a {
    color: black; }

.page-nav-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: white;
  font-size: 16px;
  height: 2em;
  line-height: 2em;
  text-align: center; }
  .page-nav-menu li {
    float: left;
    background-color: white;
    width: 150px;
    margin-left: 1px;
    height: 2em; }
    .page-nav-menu li a {
      border-top: 1px solid #FFF; }
    .page-nav-menu li ul {
      display: none;
      list-style-type: none;
      padding: 0;
      margin: 0; }
      .page-nav-menu li ul li {
        position: relative;
        background-color: white; }
        .page-nav-menu li ul li a {
          border-top: 1px solid white; }
  .page-nav-menu li:first-child {
    margin-left: 0; }
  .page-nav-menu li > a:hover {
    color: #09C; }
  .page-nav-menu li:hover {
    background-color: white; }
  .page-nav-menu li:hover > a {
    color: grey; }
  .page-nav-menu li:hover > ul {
    display: block; }
  .page-nav-menu a {
    display: block;
    color: #000;
    text-decoration: none;
    padding: 0 5px; }

.flags button {
  border: 0px;
  margin: 5px; }

.main-banner {
  width: 100%;
  max-width: 1200px;
  overflow: hidden;
  height: 600px; }
  .main-banner .main-banner-banner {
    position: relative;
    transition: 1s;
    width: 100%; }
    .main-banner .main-banner-banner .main-banner-slide {
      width: 100%;
      height: 600px;
      background-size: 100% auto;
      background-repeat: no-repeat;
      background-position: 0px 40%;
      float: left; }
      .main-banner .main-banner-banner .main-banner-slide h1 {
        color: white;
        margin-top: 8.7em;
        font-size: 60px; }

.main-slider-news {
  padding: 25px;
  margin-top: 35px;
  height: 25em;
  width: 100%; }

.main-slider-news-text {
  font-size: 28px; }

.main-slider-news-arrows {
  text-align: right;
  display: none; }

.main-slider-news-photos-container {
  height: 25em;
  display: flex; }
  .main-slider-news-photos-container .img-news h3, .main-slider-news-photos-container .img-news h4 {
    text-align: center;
    margin: 0 auto;
    color: grey;
    font-family: 'Noto Serif', serif; }
  .main-slider-news-photos-container .img-news p {
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
    color: grey;
    font-family: 'Noto Serif', serif; }
  .main-slider-news-photos-container .img-news img {
    height: 300px;
    width: 100%;
    padding: 10px;
    z-index: 2; }
  .main-slider-news-photos-container .img-news img:hover {
    transition: 1s;
    transform: scale(1.2, 1.2);
    z-index: 9;
    filter: hue-rotate(12deg) brightness(1.2) contrast(1.2); }

@media (max-width: 700px) {
  .main-slider-news-photos-container {
    display: flex;
    flex-wrap: wrap; }
    .main-slider-news-photos-container .img-news-second {
      display: none; } }

.main-slider-gallery {
  padding: 25px;
  margin-top: 90px;
  height: 25em;
  width: 100%; }

.main-slider-gallery-text {
  font-size: 28px; }

.main-slider-gallery-photos {
  display: flex;
  flex-direction: row; }
  .main-slider-gallery-photos .main-slider-gallery-photos-container {
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    height: 16em;
    white-space: nowrap; }
    .main-slider-gallery-photos .main-slider-gallery-photos-container img {
      padding: 10px;
      width: 200px;
      height: 200px; }
    .main-slider-gallery-photos .main-slider-gallery-photos-container img:hover {
      filter: brightness(0.5);
      transition: 1s; }
    .main-slider-gallery-photos .main-slider-gallery-photos-container p {
      color: white; }

.page-footer {
  background-color: white; }

.page-footer-el {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.page-footer-copyright {
  padding: 25px; }

.page-footer-social-icons {
  list-style: none; }
  .page-footer-social-icons li {
    display: inline-block; }

.contact-form {
  padding: 25px;
  height: 450px;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  line-height: 1.8em; }
  .contact-form p {
    text-align: left; }
  .contact-form label {
    font-size: 20px;
    margin: 10px; }
    .contact-form label input {
      height: 50px;
      width: 65%;
      font-size: 18px; }
    .contact-form label textarea {
      height: 100px;
      width: 65%;
      font-size: 18px; }

.contact-submit {
  width: 100px;
  height: 20px;
  font-size: 16px; }

@media (max-width: 390px) {
  .contact-form {
    border: none; } }

@media (max-width: 350px) {
  .banner-slider p {
    font-size: 16px; }
  .banner-slider h1 {
    font-size: 20px; } }

.about_yerkaland, .about_yerka, .paintings, .pastels, .contact-page {
  padding: 25px; }

.about_yerkaland {
  display: flex;
  width: 100%; }
  .about_yerkaland .about-yerkaland-photo-left {
    padding: 25px;
    width: 23rem;
    height: 17em;
    float: left;
    margin-top: -21px;
    margin-left: -20px; }
  .about_yerkaland .about-yerkaland-photo-right {
    padding: 25px;
    width: 20em;
    height: 17em;
    float: right;
    margin: 2px;
    margin-top: -21px;
    margin-left: -20px; }
  .about_yerkaland .about-yerkaland-photo-last {
    padding: 25px;
    width: 20em;
    height: 17em;
    float: left;
    margin: 2px;
    margin-top: -21px;
    margin-left: -5px; }

.pastels-gallery {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .pastels-gallery img {
    height: 200px;
    padding: 5px; }

.pastels-gallery > div:hover {
  z-index: 1; }

.pastels-gallery > div:hover > img {
  transform: scale(2.1, 2.1);
  transition: 1s transform; }

